#header {
  background-color: #3d414d;
  height: 52px;
  color: white;
}

.top-menu {
  font-size: 1.5rem;
  align-items: center;
  height: 100%;
  gap: 0.5rem;
}

.arcalogo {
  height: 70%;
}

.channel-btn {
  position: relative;
}

.channel-btn h4 {
  margin: 0;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
}

.channel-btns {
  position: absolute;
  top: 3rem;
  color: black;
  padding: 0 1rem;
  border: 1px solid gray;
  margin: 0;
  border-radius: 0.5rem;
  font-size: 1rem;
  width: 15rem;
  background-color: white;
  display: none;
}

.channel-btns.on {
  display: block;
}

.channel-btns li {
  display: block;
  margin: 0.5rem;
}
